html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(246, 247, 248) !important;
    color: #666;
    font-family: "Segoe UI", "Segoe WP", Segoe, device-segoe, Tahoma, Helvetica, Arial, sans-serif;
}

table {
    display: table;
    border-collapse: collapse;
    border-color: grey;
    font-size: 10.5pt;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

div.header {
    position: fixed;
    font-size: 20px;
    background: #222;
    color: #fff;
    width: 100%;
    z-index: 1000;
}

div.buttons {
    position: fixed;
    padding: 70px 40px 10px;
    text-align: left;
    width: 100%;
    background-color: rgb(246, 247, 248) !important;
}

h1 {
    font-family: "Segoe UI", "Segoe WP", Segoe, device-segoe, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 20px;
    background: #222;
    color: #fff;
    font-weight: 200;
    padding: 12px 15px;
    margin: 0;
    display: block;
    float: left;
    border-left: 1px solid #777;
}

h1:first-of-type {
    border-left: none;
}

input#searchInput {
    width: 200px;
}

div.content {
    padding: 200px 40px 20px;
}

div.designer-content {
    padding-top: 150px;
}

th {
    font-family: webclient-standard, device-standard, "Segoe UI", "Segoe WP", Segoe, Tahoma, Helvetica, Arial, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    text-transform: uppercase !important;
    text-decoration-style: solid;
    font-size: 14px !important;
    padding: 5px;
    color: rgb(33, 33, 33) !important;
}

td {
    padding: 5px;
    border-top: 1px solid rgb(211, 214, 218);
    color: rgb(33, 33, 33) !important;
}

.td-name {
    
}

button,
input[type=text] {
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px;
    font-size: 10.5pt;
}

button {    
    cursor: pointer;
}

.object-bar {
    box-shadow: rgba(0, 0, 0, 0.47) 0px 0px 7px 0px;
}

.object-bar button {
    width: 100px;
    padding: 5px;
    margin-right: 5px;
}


.object-bar-line {
    margin-bottom: 8px;
}

.object-bar-line button:first-of-type {
    margin-right: 20px !important;
}

.selected {
    background: #00B7C3;
    color: #fff;
}

a,
a:link,
a:visited {
    color: rgb(0, 126, 135);
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:focus {
    color: rgb(0, 126, 135);
    text-decoration: underline;
}

tr.selected .td-name a,
tr.selected .td-name a:link,
tr.selected .td-name a:visited,
tr.selected .td-name a:hover,
tr.selected .td-name a:focus {
    color: rgb(0, 104, 111) !important;
}

.virtual-repeater-wrapper {
    height: 70vh;
    vertical-align: top;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.virtual-repeated-item {
    height: 40px;
}

tr:hover {
    background: rgb(217, 240, 242);
}

tr.selected {
    background: rgb(178, 233, 237);
}

tr.selected:hover {
    background: rgb(178, 233, 237) !important;
}

td.context-menu-td {
    padding: 0px;
}

a.context-menu-btn {
    padding: 5px;
    display: block;
    font-weight: bold;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAA+UlEQVQ4ja3Uv0pDMRgF8F9KKReRUkQEHayzi47ikzj7CL6C+ESCb6Cj4NRNURzEQeqglnppHHLBCjeBWzwZ8gUO359zkoQoakMQKuyhwgLPUXxrJUPMLBziEREfOEM/x+9lKzDCbhOvYYx+jlxK1AnZCnjFDXYwwx3mOXLIiQ1BWJfGqjGN4qJzR0HYxAm28YUr3GarFlw7wrvk2jfOMVjFtQrDpc6HCuaUEtWSyKQLOWv2VpRcu8eFpNEcl1Fc2bURNppuXkqulcTexzUeMMEpejl+abQtHC+dDzDwq9sf/NsTKSWa4qmJP6WfoM6Rs2J3/Y+KrnXBD1GoiT9F9m3JAAAAAElFTkSuQmCC);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.3;
    text-decoration: none !important;
}

td#context-selected {
    background: rgb(102, 212, 219);
}

tr:hover td#context-selected {
    background: rgb(178, 233, 237) !important;
}

tr.selected:hover td#context-selected {
    background: rgb(102, 212, 219) !important;
}

.context-menu-ul {
    position: absolute;
    width: 140px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.47) 0px 0px 7px 0px;
    z-index: 1001;
    margin-left: -90px;
}

.context-menu-ul li {
    list-style: none;
    margin: 0;
    padding: 9px;
    cursor: pointer;
    line-height: 1em;
    font-size: 1em;
}

.context-menu-ul li:hover {
    background: rgb(178, 233, 237) !important;
}

.new-object-link {
    display: inline-block;
    min-width: 100px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(0, 126, 135);
    margin-top: 3px;
    margin-right: 20px;
}

.new-object-link:hover,
.new-object-link:focus {
    text-decoration: underline;
}

#card-designer-wrapper {
    padding: 30px;
    background: #fff;
}

#card-designer-wrapper h2 {
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 1px solid #222;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#card-designer-wrapper h2:first {
    border-bottom-width: 2px;
}

#actions-placeholder {
    padding: 10px 0;
    font-size: 16px;
    line-height: 1em;
    color: #444;
    border-color: #888;
    border-width: 1px 0;
    border-style: solid;
    margin-bottom: 5px;
}

.page-control {

}

.page-control-right {

}

.designer-input {
    font-size: 14px;
}

.designer-input input {
    border: 1px solid #aaa;
    background: #fff;
    color: #222;
    padding: 4px;
}


/*
 * http://fatopng.com/fontawesome-to-base64 :D
 */
.fa {
    background-repeat: no-repeat;
    padding: 0px 5px 20px 20px;
    display: inline;
}

.fa-view {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABh0lEQVQ4ja3UP2sUURQF8N+VRUJYxEIsNWxhIZgiHyBY29lYCdoIRkghEkQMBMs0QhALW/Eb2NgqQkBUxEIsJCEqQSUEiyhhCXst5i1sdmc2CXheM3fuPWfuvzeREoQ4iRlMakYPH1N+r3O2Bp5n8QTdBqFW+dCbEPdSvh+JyHJwHaup/uAifmIRq5gejjk2pqQ67OEhnuNRiPODzqOKSfm3CL7CcojTfV+rkTWKLtohXha7jTOqob04tFiIGRzHPE4MuO5i4sDMQpxCB58wh/WSwWbKHyVmbpBT27MQE1jA7ZJJB19xAw9CtOt4TQO4iiu4r1rUDj5gSbUitw4lVsqbx9OUa6pGt7Cd8hce41qIqQPFUm6penOpXLFzpcTdEJO4jNfl3T40DWAF07iDP4XYxc2SwHLKXojxmZXsNlXN/4YLWFNt/xYWSvkjaFyNlJ9DfMFZvEu5G+JZyl4TZ+zSptxTTbRvNwoNi21jKsTGOMIQevjdN+KIP8dh7OBtyp19Yv8D/wAV0oUu0mG9TgAAAABJRU5ErkJggg==);
}

.fa-run {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAA1ElEQVQ4je3UMUoDQRTG8d9bBrGwDhZWIraCWCVX8BR2XsCbeBKvEDsJHsAyRWoRi7DkWewWcTTCblL6DcPA481/PpiPFykdSoGCa5yNZCyxSNkWTPGIdiSs4B7zgnO8p5yNIYV4xgXmTV/bjHT17W7zV9dQ/cOGq/TnJMSt4b/aYFLDLvG0r7NGl/x9c9bSOXvFQpfibRWcVLVPrKvaW8+gnxpHOK32HbLaD7/0HadulR64xmr7uRAzfFQurlKu7FDsmmchbvwcS8uUL4NhY3TQ0H4BT2Q4kAyS3n0AAAAASUVORK5CYII=);
}

.fa-list {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABb0lEQVQ4jc3UPWtUQRTG8d8slyUssq4hiFgsIlYiKey0FCwNpLCw0EpMI9qJX8DCD+E3UUGtRUuLiGAKXwoVC1lks8fCGTm5m0bZwnMZ7j3/mfvMnIeZKSGsKgYrU0JBh3M49Q//L7CLNyEWsIlX2Ef8ZdvHE5wJoasr2sTnOhMcqS2zSa3iS2IdzmOK3a7C79ipb7iCG7iOeWU71Y67SWwdj1rNTWyG5yG+QVFOYxbicRtYlMs4GeJpYhvZwCY2xp2i/Kj5BYyLcr+ubICLmCYGxw4TG2I7DTqONVxNJU0x6rGhXmzhE9bD7we3sIcusYd4gUFiJ/AVl0L82bSLNFvLhZgnNsei7afElsoc43ZRZjVvnt1LkzTPMjt6mFjzJ3s2wjXLnmW2phdb+IBJ8uIm9lpe2QM867ENybMuiY6K8rN+D6Eoo9Q/xKDHDqysw3t8xEvLx+ldKn1SBd86eJxeVw2lDjhrBbdG+W8vx193OI8vsf/HiwAAAABJRU5ErkJggg==);
}

.fa-report {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAA20lEQVQ4jeXUoUpEURDG8d8nN8lGMfkAIiYfwCCyryAmERVBDdrElzDIJsHig7iYxGA0mUwKBoPBIFyD5XpxdZd7mlMOzJzvP99hDpNarVRMFSMVh0UWI6tFYFjG5iSiSD9yEFlqw5pnU1BFDiPbkZlWeQNnWGkmq18MVDjFI27w8pfjcQfQi5xEBpG5rrBprGMPs6MufXtmZAFreMbFmI1GOpvHMbYmBf0E6xRFYe2vcYddvOIDO3jDPfbRwwPOcYXbpji+JnSE6w6mLmv1sMIQ7x1A8AT5H/vsE5REIQqDX2aJAAAAAElFTkSuQmCC);
}

.fa-plus {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABBklEQVQ4jc3UT0pDMRAG8F9KESkuRYqKKxdFRLyBFxCv4sadp/AAXsF7uNedCxEtpS3qQkRU3rjos76WvohFxC+EMH/yZTKTSQphFpLUQhuLKPCIfohi5gaImoEDXOIBA5xipc4/hGbtKWxiqyJvl5H26zY0MmSzbDn/vPGn+FWyZpIaWMXylG1tSm6hk6SqrkAPwxBFwjpOyrWKNjYq8hOu8Tzld4HjED3YwRtizjlAJ8Q4Z7kn8h2aytw38Gp073nRxcsn6y0OTeYH9rBfkW9whruKrsDVOJhMOx2ZzM05dnPt9H8f7Z+R3fiq8rtRoYY5spT5HJeMumKhVN2jm/sca8nmwQet736P88KibwAAAABJRU5ErkJggg==);
}

.fa-design {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABe0lEQVQ4ja3UMWsUQRiA4WeWJRyypAgpDgsLCSkk4D8IFsdpdYVYapfCwiKoxZFCsAiprENIkZ9gI1hZ+CtEJMUVaWw0BiQEYVPk27i77nIXcIZlmNmdd97vm9lRuqrIsFT16xWDVj9H0f4u87fcwzhJOSRpNdoCT6OVpAzPsZukYW1+A7aODRRJWsNWjA9xH8MkLWOKV3iEgwawpr6EFTzAPr6FwTpWY+EdHMdCY8ywh7wRZqm8wE98j4k5zmPsN17iGXbxAQ/j/adS+adh1krwGqa1jXmLUxyG5Tt8xaQxrweWR64GeIEzlBHWR3zB5J9d7oJVxwFvwqisPceR/CzyW8wzy8KoDTrBkzC/jSOMqg3oAt2KHJ21QDNstr692xtmGL3uMJqFUdaXlgYMRRzIrtA254GuYWE0xY+OZD+eB6kJGWC7J7RxldxFYXfwucNosiikDsvD4KRmNNFzHS26ASO8x+imkKqmSi/usWX8Kqsf94blGvY/yiV2FHLpEyFcfAAAAABJRU5ErkJggg==);
}


/**
 * Responsive part
 **/

@media only screen and (max-width: 790px) {
    input#searchInput {
      width: 100px;
    }

    .linebreaker {
        display: block;
        width: 1px;
        height: 10px;
    }

    .object-bar-line button:nth-of-type(5) {
        margin-left: 124px !important;
    }

    div.content {
        padding-top: 280px;
    }

    div.designer-content {
        padding-top: 150px;
    }

  }

@media only screen and (max-width: 610px) {
    #searchHeader {
        display: none;
    }  

    input#searchInput { 
        width: 50px;
    }
}